---
AccessModifierOffset: '0'
AlwaysBreakAfterReturnType : All
AlwaysBreakTemplateDeclarations: 'true'
BreakBeforeBraces: Linux
Language: Cpp
NamespaceIndentation: All
SpaceBeforeParens: Always
Standard: Cpp11
TabWidth: 2
UseTab: Never
ColumnLimit: 88
BinPackArguments: false  # either on one line, or one line per argument (like Python)
BinPackParameters: false # same as above, but for parameters
